<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicio.css">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
   </head>
   <body>
        <%- include('../partials/navbar'); %>

        <%- include('../partials/dev'); %>

        <%- include('../partials/footer'); %>   
        </body>
</html>