<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .msgDev {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(14, 0, 0);
            text-align: center;
            margin-top: 50px;
            font-weight: 400;
            font-size: 20px;
        }
        img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            width: 300px;
            align-items: center;
        }
    </style>
   </head>
   <body>
        <section class="Dev">
            <h2 class="msgDev">Ops! Esta página ainda está em desenvolvimento, volte mais tarde! :D</h2>
            <br><figure>
                <img src="../imagem/dev.png" alt="Imagem de desenvolvimento" />
            </figure>
        </section>

        </body>
</html>