
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
    <section class="footer-container">
    <section class="footer-section">
    <h3><a href="/contato" class="pag"><h3> Contato</h3> </a></h3>
    <p>Email: contato@escolasfaceis.com</p>
    <p></p>
    </section>
    <section class="footer-section">
    <h3><a href="/contato" class="pag"><h3>Encontre Escolas</h3></h3></a>
    <ul class="social-links">
        <li><a class="es" href='/edu-infantil'>Ensino Infantil</a></li>   ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎   <li><a class="es" href='/ensino-medio'>Ensino Médio</a></li><br>
        <li><a class="es" href='/ensino-fund1'>Ensino Fundamental I</a></li> ‎ ‎ ‎‎‎‎  <li><a class="es" href='/cursos-tecnicos'> Cursos Técnicos</a></li>
        <li><a class="es" href='/ensino-fund2'>Ensino Fundamental II</a></li> ‎ ‎ ‎ <li><a class="es" href='/cursos'> Cursos</a></li>
        <li><a class="es" href='/mais-filtros'>Mais Filtros</a></li><br>
    </ul>
    </section>
    <section class="footer-section">
    <h3><a href="/contato" class="pag"><h3>Cadastre sua Escola</h3></a>
    <p id="ofsl">Ou faça seu <a id="log" href="/login">Login</a></p>
    </section>
    </section>
    <section class="footer-bottom">
    <p><img id="logoo" src="/imagem/logo.png" alt=""></p>
    </section>
    </footer>
