<!DOCTYPE html>
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/footer.css">

    
<html>
    
<footer>

    <br><br>
    <img src="imagem/logo.png" id="logo" alt="Logo do Site">

    <section>
    

    <p> <a href="index.html" class="pag"> Início </a></p>

    <p> <a href="encontreescolas.html" class="pag"> Encontre escolas </a></p>   

    <p> <a href="contato.html" class="pag"> Contato </a></p>     </section>

    <p> <a href="cadastroescola.html" class="pag" id="cad-escola"> Cadastre sua Escola </a></p> 
    <br><br>


</footer>
<!-- <footer class="footer">
    <section class="footer-container">
    <section class="footer-section">
    <h3>Contato</h3>
    <p>Email: contato@truyce.com</p>
    <p>Telefone: 4002-8922</p>
    </section>
    <section class="footer-section">
    <h3>Redes Sociais</h3>
    <ul class="social-links">
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Twitter</a></li>
    </ul>
    </section>
    <section class="footer-section">
    <h3>Endereço</h3>
    <p>Santo André - SP</p>
    </section>
    </section>
    <section class="footer-bottom">
    <p>TRUYCE LOCAL STUDIOS &copy; 2022. Todos os direitos reservados.</p>
    </section>
    </footer>
     -->
</html>