


    <link rel="stylesheet" href="css/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


    <section>
        <nav>
            <ul class="master">
                
                <nav id='menu'>
                  
                    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
                    <ul>
                      <li><img src="imagem/logo.png" id="logo" alt="Logo do Site"></li>
                      <li><a href='/'>Home</a></li>
                      <li><a class='dropdown-arrow' href='/encontre-escolas'>Encontre Escolas</a>
                        <ul class='sub-menus'>
                          <li><a href='/edu-infantil'>Ensino Infantil</a></li>
                          <li><a href='/ensino-fund1'>Ensino Fundamental I</a></li>
                          <li><a href='/ensino-fund2'>Ensino Fundamental II</a></li>
                          <li><a href='/ensino-medio'>Ensino Médio</a></li>
                          <li><a href='/cursos-tecnicos'>Ensino Técnico</a></li>
                          <li><a href='/cursos'>Cursos</a></li>
                          <li><a href='/mais-filtros'>Mais Filtros</a></li>
                        </ul>
                      </li>
                      <li><a href='/contato'>Contato</a></li>
                      
                       <li><button type="submit" class="cades cades-reset"><a href="/cadastro-escola" > Cadastre sua Escola</a></button></li> <!-- mudar o nome de uma dessas class -->
                      <li><a href="/login" id="login">Login</a></li>
                    </ul>
                      
            </ul>
            </input>
            
        </nav>

    </section>

















   