


    <link rel="stylesheet" href="css/menu.css">



    <section>
        <nav>
            <ul class="master">
                
                <nav id='menu'>
                    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
                    <ul>
                      <li><a href='index.html'>início</a></li>
                      <li><a class='dropdown-arrow' href='encontreescolas.html'>Encontre Escolas</a>
                        <ul class='sub-menus'>
                          <li><a href='ensino-infantil.html'>Ensino Infantil</a></li>
                          <li><a href='eduFundamental.html'>Ensino Fundundamental</a></li>
                          <li><a href='ensMedio.html'>Ensino Médio</a></li>
                          <li><a href='Tecnico.html'>Ensino Técnico</a></li>
                          <li><a href='Cursos.html'>Cursos</a></li>
                        </ul>
                      </li>
                      <li><a href='contato.html'>Contato</a></li>
                    </ul>
                  
                <input type="text" class="pesquisa"> 
                <a class="botao" href="#"><button style="background-color: #F56D44;  border-radius: 15px; border: solid #C7370A;">CADASTRAR SUA ESCOLAA</button></a>
            </ul>
            
        </nav>

    </section>

















   