    <a href="/">INDEX <br></a>
    <a href="/encontre-escola"> ENCONTRE ESCOLAS <br></a>
    <a href="/contato"> CONTATO <br></a>
    <a href="/cadastro-escola"> CADASTRE SUA ESCOLA <br></a>
    <a href="/cadastro-usuario"> CADASTRE SUA ESCOLA <br></a>
    <a href="/edu-infantil"> CADASTRE SUA ESCOLA <br></a>
    <a href="/ensino-fund1"> CADASTRE SUA ESCOLA <br></a>
    <a href="/ensino-fund2"> CADASTRE SUA ESCOLA <br></a>
    <a href="/ensino-medio"> CADASTRE SUA ESCOLA <br></a>
    <a href="/cursos-tecnicos"> CADASTRE SUA ESCOLA <br></a>
    <a href="/cursos"> CADASTRE SUA ESCOLA <br></a>
    <a href="/mais-filtros"> CADASTRE SUA ESCOLA <br></a>
    <a href="/perfil-escola"> CADASTRE SUA ESCOLA <br></a>
    <a href="/perfil-usuario"> CADASTRE SUA ESCOLA <br></a>
    <a href="/redefinicao-senha"> CADASTRE SUA ESCOLA <br></a>