<!-- Barra de pesquisa-->


<link rel="stylesheet" href="css/search-bar.css">

<section class="search-bar">
    <section class="search-fields">
    <input type="text" id="nome-escola-search" name="nome-escola-search" placeholder="Nome da Escola" class="A">
    <select name="UF" id="regiao-search" class="A">
        <ul>
            <option value="regiao"> Região </option>
            <option value="RNO"> Região Norte</option>
            <option value="RND"> Região Nordeste </option>
            <option value="RCE"> Região Centro-Oeste</option>
            <option value="RSD"> Região Sudeste</option>
            <option value="RSU"> Região Sul</option>

        </ul></select>
        <input type="text" id="cidade-search" name="cidade-search" placeholder="Cidade" class="A">
    <br></section>
   <button type="submit" value="" id="search">Pesquisar</button>
</section> 
        