body{
    overflow-x: hidden;
}
.slider {
    position: absolute;
    width: 642.2px;
    transform: scale(0.6) translate(170%, -110%);
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 400px;
    display: block;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(121, 121, 121, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.prev {
    left: 10px;
}
ul .slide{
    list-style-type: none;
}
.next {
    right: 10px;
}

.indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #676b85;
}

@media screen and (max-width:1220px) {
    .slider{
        transform: scale(0.6) translate(135%, -110%) 
       }
}

@media screen and (max-width:1100px){
.slider{
    display: none;
}
}
@media screen and (max-width:800px){
    .slider{
        transform: scale(0.8);
        display: block;
        position:relative;
        padding-top: 10%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       }
}
@media screen and (max-width:618px){
    .slider{
        transform: scale(0.6);
        padding: 0;
        margin-left: -5%;
    }
}
@media screen and (max-width:518px){
    .slider{
        transform: scale(0.6);
        padding: 0;
        margin-left: -28%;
    }
}