*{
    padding: 0px;
    margin: 0px;
    }
    .imagem-caixa{
        position: relative;
    }
    .caixa1{
        position: absolute;
        left: 30%;
        padding: 10px;
        width: 277px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-color: white;
        background-color: #ffffff;
        font-size: 16px;
    
    } 
    #caixa2{
        position: absolute;
        left: 49%;
        padding: 10px;
        width: 86px;
        background-color: #ffffff;
    
    }
    .Buscar{ 
        position: absolute;
        right: 373px;
        background-color:#ffffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border:solid 1px;
        padding: 1px;
        width:300px;
      }
    #txtBusca{
        float:left;
        background-color: transparent;
        padding-left:8px;
        font-size: 16px;
        border:none;
        height:32px;
        width:250px;
      }
      .master{
        position: relative;
        top: 150px;
        border-radius: 10px 10px 10px 10px ;
        border: solid 1px ;
        width: 1000px;
        left: 260px;
        box-sizing:border-box;
        
      }
      .imgp{
        position: relative;
        width: 230px;
        margin: 4px;
      }
      .nomeescolas{
        position: absolute;
        float: left;
        top: 30px;
        right: 340px;
        font-size: 27px;
        font-family: "Poppins SemiBold", "Poppins", sans-serif;
      }
      .tipodeensino{
       position: absolute;
       top: 70px;
        left: 300px;
        border: solid 1px;
        border-radius: 10px 10px 10px 10px;
        background-color: #00b4b4;
        font-family: "Poppins SemiBold", "Poppins", sans-serif;
      }
      .segundo{
        position: absolute;
        top: 70px;
        left: 475px;
        border: solid 1px;
        border-radius: 10px 10px 10px 10px;
        background-color: #15c724;
        font-family: "Poppins SemiBold", "Poppins", sans-serif;
      }
    .lugar{
        position: absolute;
        top: 100px;
        left: 300px;
        font-size: 19px;
        font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .mensa{
        position: absolute;
        top: 150px;
        left: 300px;
        font-size: 21px;
        color: #ffbc3e;
        font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .botao{
        
        position: absolute; 
        top: 340px;
        left:1050px;
        width: 165px;
        height: 35px;
        border-radius: 10px 10px 10px 10px;
    }
    /* Segundo perfil */
    .master2{
      position: relative;
      top: 170px;
      border-radius: 10px 10px 10px 10px ;
      border: solid 1px ;
      width: 1000px;
      left: 260px;
      box-sizing:border-box;
    }
    .imgs{
      position: relative;
      width: 230px;
      margin: 6px;
    }
    .nomeseg{
      position: absolute;
      float: left;
      top: 30px;
      right: 500px;
      font-size: 27px;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .tiposeg{
      position: absolute;
      top: 70px;
      left: 290px;
      border: solid 1px;
      border-radius: 10px 10px 10px 10px;
      background-color: #ff7184;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .lugarseg{
      position: absolute;
      top: 100px;
      left: 290px;
      font-size: 19px;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .mensalidade{
      position: absolute;
      top: 150px;
      left: 290px;
      font-size: 21px;
      color: #ffbc3e;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .botaoseg{ 
      position: absolute; 
      top: 200px;
      left:785px;
      width: 165px;
      height: 35px;
      border-radius: 10px 10px 10px 10px;
    }
    /* terceiro perfil */
    .master3{
      position: relative;
      top: 190px;
      border-radius: 10px 10px 10px 10px ;
      border: solid 1px ;
      width: 1000px;
      left: 260px;
      box-sizing:border-box;
    }
    .imgt{
      position: relative;
      width: 230px;
      margin: 6px;
    }
    .nometer{
      position: absolute;
      float: left;
      top: 30px;
      right: 460px;
      font-size: 27px;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .tipoter{
      position: absolute;
      top: 70px;
      left: 285px;
      border: solid 1px;
      border-radius: 10px 10px 10px 10px;
      background-color: #e5f53b;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .lugarter{
      position: absolute;
      top: 100px;
      left: 290px;
      font-size: 19px;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .botaoter{ 
      position: absolute; 
      top: 200px;
      left:785px;
      width: 165px;
      height: 35px;
      border-radius: 10px 10px 10px 10px;
    }
    /* perfil quarto */
    .master4{
      position: relative;
      top: 210px;
      border-radius: 10px 10px 10px 10px ;
      border: solid 1px ;
      width: 1000px;
      left: 260px;
      box-sizing:border-box;
    }
    .imgq{
      position: relative;
      width: 230px;
      margin: 6px;
    }
    .nomequar{
      position: absolute;
      float: left;
      top: 30px;
      right: 420px;
      font-size: 27px;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .tipoquar{
      position: absolute;
      top: 70px;
      left: 285px;
      border: solid 1px;
      border-radius: 10px 10px 10px 10px;
      background-color: #ef842d;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .lugarquar{
      position: absolute;
      top: 100px;
      left: 290px;
      font-size: 19px;
      font-family: "Poppins SemiBold", "Poppins", sans-serif;
    }
    .botaoquar{ 
      position: absolute; 
      top: 180px;
      left:785px;
      width: 165px;
      height: 35px;
      border-radius: 10px 10px 10px 10px;
    }
    /* footer */
    footer{
    
      background-color: rgba(20, 28, 68, 0.99);
      margin-top: none;
    }
    footer, .pag{
    
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-style: normal;
      color: white;
      text-decoration: none;
    
      
    }
    .pag:hover{
      text-decoration: underline;
    }
    #logo-footer{
      width:15%;
      margin-left: 3%;;
      margin-top: 1.5%;
      position:absolute;
      margin-right: auto;
    }
    .pag{
    
    margin-left: 26%;
    position:static
    
    }
    
    #cad-escola{
      border-radius: 3px;
      border: 10px, 5px, 10px, 5px;
      border-style:solid;
      border-left-color: #f56d44;
      border-right-color: #f56d44;
      border-top-color: #f56d44;
      border-bottom-color: #f56d44;
    
      text-decoration: none;
      background-color: #f56d44;
      font-weight: 400;
      margin: 10px, 10px, 10px, 10px;
    }
    
    #cad-escola:hover{
      border-left-color: #ff9575;
      border-right-color: #ff9575;
      border-top-color: #ff9575;
      border-bottom-color: #ff9575;
      background-color: #ff9575;
    
    }