*{
    padding: 0px;
    margin: 0px;
    }
    
    .search-bar {
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 0.1%; 
        padding: 20px; 
        
    }


    #nome-escola-search{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid gray;
    }