@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    --amarelo: #ffbc3e;
    --laranja: #f56d44;
    --azul-claro: #77b6ea;
    --azul-escuro: #141c44;
}

/* 

    .search-bar {
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 0.1%; 
        padding: 20px;
        font-size: 14px;
        
    }


    #nome-escola-search{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid gray;
        padding: 0.3%;
        
    }

    #cidade-search{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid gray;
        padding: 0.3%;
    }

    #regiao-search{
        padding: 0.3%;
        border: 1px solid gray;
        width: 5%;
    }
 */



label{
padding: 2%;
}
#filtros{
    color: var(--azul-claro);
    font-weight: normal;
    cursor: pointer;

}#filtros:hover{
    text-decoration: underline;
}

#filtro{
    display: flex;
    justify-content: center;
    margin-left: 32%;
    margin-top: -1.9%;
    margin-bottom: 4%;
}

#filtrar{
    z-index: 1;
    display: block; 
    margin: 0 auto; 
    border: 2.5px var(--amarelo) solid;
    border-radius: 10px;
    padding: 4%;
    font-size: large;
    color: var(--amarelo);
    background: none;
    text-align: center; 
    margin-top: 5%;
    width: 70%;
    font-size: 19px;
    cursor: pointer;
    transition:all 0.3s;
}

#filtrar:hover{
    background-color: #ffbc3e;
    color:white
}

input{
    cursor: pointer;
}
#mens{
    font-size: 14px;
    color: gray;
    margin-top: 7%;
}

.filter-schools{
    background-color: white;
    display: none;
    position: absolute;
    border-radius: 15px;
    border: 2px solid #77b6ea;
    padding:1%;
    border-top-left-radius: 0;
    width: 19%;
    z-index: 10;
    gap: 10px;
    margin-top: 1.5%;
    margin-left: 21%;
    }

    .sec{
        margin: 3%;
    }
    .sec:nth-child(1){
        margin-top: 0;
    }

    /* slider*/
    
    .range-slider{
        display: none;
    }

    input[type="number"] {
        width: 40%;
        margin: 5px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
    
    }

    .range-price label{
        font-size: 15px;
        margin-left: 5%;
    }
    

  
    
    

h1{
    position: relative;
    z-index:0;
}

@media screen and (max-width:800px){
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    --amarelo: #ffbc3e;
    --laranja: #f56d44;
    --azul-claro: #77b6ea;
    --azul-escuro: #141c44;
}

/* 

    .search-bar {
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 0.1%; 
        padding: 20px;
        font-size: 14px;
        
    }


    #nome-escola-search{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid gray;
        padding: 0.3%;
        
    }

    #cidade-search{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid gray;
        padding: 0.3%;
    }

    #regiao-search{
        padding: 0.3%;
        border: 1px solid gray;
        width: 5%;
    }
 */



label{
padding: 2%;
}
#filtros{
    color: var(--azul-claro);
    font-weight: normal;
    cursor: pointer;
    font-size: 22px;
}#filtros:hover{
    text-decoration: underline;
}

#filtro{
    display: flex;
    justify-content: center;
    margin-right: -40%;
    margin-top: -4%;
    margin-bottom: 6%;
    font-size: 18px;
}

#filtrar{
    z-index: 1;
    display: block; 
    margin: 0 auto; 
    border: 2.5px var(--amarelo) solid;
    border-radius: 10px;
    padding: 4%;
    font-size: large;
    color: var(--amarelo);
    background: none;
    text-align: center; 
    margin-top: 5%;
    width: 70%;
    font-size: 19px;
    cursor: pointer;
    transition:all 0.3s;
}

#filtro, h4{
    font-size: 20px;
}
#filtro label{
    font-size: 19px;
}

#filtrar:hover{
    background-color: #ffbc3e;
    color:white
}

input{
    cursor: pointer;
}
#mens{
    font-size: 16px;
    color: gray;
    margin-top: 7%;
}

.filter-schools{
    background-color: white;
    display: none;
    position: absolute;
    border-radius: 15px;
    border: 2px solid #77b6ea;
    padding:1%;
    border-top-right-radius: 0;
    width: 37%;
    z-index: 10;
    gap: 10px;
    margin-top: 4.8%;
    margin-left: -10%;
    }

    .sec{
        margin: 3%;
    }
    .sec:nth-child(1){
        margin-top: 0;
    }

    /* slider*/
    
    .range-slider{
        display: none;
    }

    input[type="number"] {
        width: 40%;
        margin: 5px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
    
    }

    .range-price label{
        font-size: 15px;
        margin-left: 5%;
    }
    

  
    
    

h1{
    position: relative;
    z-index:0;
}


}