footer{
    display: block;
    background-color: rgba(20, 28, 68, 0.99);
    margin-top: none;
}
footer, .pag{
    
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none;
    line-height: 35px;
    
}
.pag:hover{
    text-decoration: underline;
}
#logo-footer{
    width:15%;
    margin-left: 3%;;
    margin-top: 1.5%;
    position:absolute;
    margin-right: auto;
}
.pag{

margin-left: 26%;
position:static

}

#cad-escola{
    border-radius: 3px;
    border: 10px, 5px, 10px, 5px;
    border-style:solid;
    border-left-color: #f56d44;
    border-right-color: #f56d44;
    border-top-color: #f56d44;
    border-bottom-color: #f56d44;

    text-decoration: none;
    background-color: #f56d44;
    font-weight: 400;
    margin: 10px, 10px, 10px, 10px;
}

#cad-escola:hover{
    border-left-color: #ff9575;
    border-right-color: #ff9575;
    border-top-color: #ff9575;
    border-bottom-color: #ff9575;
    background-color: #ff9575;

}
#log:hover{
    text-decoration: underline;
}
#ofsl a{
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}
#ofsl {
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}

.footer {
    width: 100%;
    background-color: rgba(20, 28, 68, 0.99);
    color: #fff;
    padding: 40px 0;
    /* margin-top: 100vh; */
    position: relative;
    left: 0;
    transform: none;
  }
   
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
   
  .footer-section {
    flex: 1;
    max-width: 300px;
  }
   
  .footer h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
   
  .footer p {
    font-size: 14px;
    margin-bottom: 10px;
  }
   
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
   
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }

  #logoo{
    width: 10%;
  }

  .es:hover{
    text-decoration: underline;
  }
   
  .social-links li:last-child {
    margin-right: 0;
  }
   
  .social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
   
  .footer-bottom {
    border-top: 1px solid #ffffff;
    margin-top: 2%;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
  }
   
  .footer-bottom p {
    margin: 0;
  }
   
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
     #logoo{
    width: 30%;
  }

    .footer-section {
      max-width: 100%;
      margin-bottom: 30px;
    }
    .footer-container{
      margin-left: 5%;
    }
    #logo-footer  {
      width: 100%;
    }
}

@media (max-width:1200px){
  .footer-container{
    margin-left: 5%;
  }
}

@media (max-width: 400px){
  .footer-container{
    margin-left: 5%;
  }
  .social-links{
    display: none;
  }
}