@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;


}


body{
    margin: 0;
    padding: 0;
    background-color: var(--fundo);
    color: var(--letras);
    overflow-x: hidden; 
}
.call2action{
    display: inline-block;
    margin: 10%;
    width: fit-content;
    height: 100%;
}

.title{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: var(--laranja) ;
    font-weight: 650;
}

.text1{
    font-weight: 300;
    font-size: 20px;
    width: 700px;
    color: var(--letras);
}

.call2action button{
    background-color: var(--laranja);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}.call2action button:hover{
    background-color: --laranja;
    transform: scale(1.05);
}

.buscaN{
    display: inline-block;
    margin: 5% 10% 5% 10%;
}

.buscaN li{
    margin: 15px;
    font-size: 17px;
}
