.imagem-texto{
    position: relative;
    width: 100%;
    height: 50%;
}
#imagem{
    position: absolute;
    width: 100%;
}

#texto{
    position: absolute;
    font-size: 55px;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: bold;
    left: 9%;
    top:340px;
    color: #f56d44;
}
#paragrafo{

    position: absolute;
    font-size: 25px;
    padding-top: 20px;
    font-family: "Poppins Light", "Poppins", sans-serif;
    left:9%;
    top:480px;

}
.imagem-caixa{
    position: relative;
}
.caixa1{
    position: absolute;
    color: white;
    top:1050px;
    left: 610px;
    padding: 10px;
    width: 277px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left-color: white;
    border-color: white;
    background-color: #0a7777;
    border-style: solid;
 

} 

::-webkit-input-placeholder {
    color:white;
}

/* #caixa1 ::placeholder{
    color:white;

} */

.imagem-caixa{
    margin-left: auto;
}

#caixa2{
    position: absolute;
    top:1050px;
    left: 49%;
    padding: 9.5px;
    width: 89px;
    background-color: #0a7777;
    color: white;
    border-color: white;
    border-style: solid;
    border: 2px;
    border-style: solid;
}

#caixa::placeholder{
    color: white;
}
.caixa3{
    position: absolute;
    top:1050px;
    left: 999px;
    padding: 10px;
    width: 277px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0a7777;
    color: white;
    border-color: white;
    fill-opacity: 0;
    
    border-style: solid;
}
#caixa1 ::placeholder{
    color: white;
}

.aqui{
    position: absolute;
    color: #77b6ea;
    font-size: 40px;
    font-family:  "Poppins SemiBold", "Poppins", sans-serif;
    top: 1390px;
    left: 20%;
}
.aqui2{
    position: absolute;
    top: 1480px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    line-height:60px;
    left: 20%;
    list-style:disc;
    list-style-type:square;
    
}
li::marker {
    color: #f56d44;
  }
#imgpequena{
    position:relative ;
    top: 1280px;
    left: 60%;
    height: 450px; 
    width: 450px;
}
footer{
    position: absolute;
    top: 1970px;
    background-color: rgba(20, 28, 68, 0.99);
    margin-top: none;
    width: 100%;
    height: 300px;
}
footer, .pag{

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none;

    
}
.pag:hover{
    text-decoration: underline;
}
#logo-footer{
    width:15%;
    margin-left: 4%;;
    margin-top: 2.5%;
    position:absolute;
    margin-right: auto;
}
.pag{

margin-left: 26%;
position:static

}

#cad-escola{
    border-radius: 3px;
    border: 10px, 5px, 10px, 5px;
    border-style:solid;
    border-left-color: #f56d44;
    border-right-color: #f56d44;
    border-top-color: #f56d44;
    border-bottom-color: #f56d44;

    text-decoration: none;
    background-color: #f56d44;
    font-weight: 400;
    margin: 10px, 10px, 10px, 10px;
}

#cad-escola:hover{
    border-left-color: #ff9575;
    border-right-color: #ff9575;
    border-top-color: #ff9575;
    border-bottom-color: #ff9575;
    background-color: #ff9575;

}





