*{
    margin: 0;
    padding: 0;
	font-family: "Poppins";
}
#menu {
	background: #141C44;
	height: 120px;
	padding-left: 60px;
	border-radius: 0px;

}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;

}
#menu ul {
	width: 100%;
	text-align: left;
	align-items: center; 
    justify-content: space-between;
}
#menu li {
	display: inline-block;
	position: relative;
	margin:0	
}
#menu a {
	display: block;
	line-height: 100px;
	padding: 0px 40px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
	margin-top: 0px;
}
#menu a.dropdown-arrow:after {
	content: "\23F7";
	margin-left: 10px;
}
#menu li a:hover {
	color: #AAFFFF;
	background: #141C44;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 20px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 0px;
	text-align: center;
	position: relative;
	left: 30px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 100px;
}
#menu ul.sub-menus{
	left:40px;
	top:60px;
	height: auto;
	overflow: hidden;
	width: 300px;
	background: #636570;
	position: absolute;
	z-index: 99;
	display: none;
	border-radius: 5px;
	font-size: 16px;
}
#menu ul.sub-menus li {
	position: relative;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	padding-top: 0%;
	color: #FFFFFF;
	font-size: 18px;
}
#menu li:hover ul.sub-menus {
	display: block;
	border-radius: 5px;
}
#menu ul.sub-menus a:hover{
	background: #636570;
	color: #AAFFFF;
}

#login{
	display: inline-block;
	padding-right: 40px;
	text-align: right;
}

.cades-reset{
	height: auto;
	width: auto;
	display: flexbox;
}
.cades-reset:hover{
	color: inherit;
}

.cades {
    display: inline-block;
    background-color: #f56d44; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px; 
    font-size: 18px; 
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    margin-left: auto; 
    margin-right: 20px; 
	
	
}
.cades:hover{
	background-color: #d43200;
}


/* Certifique-se de que o botão está posicionado corretamente */
#menu li {
    display: inline-block;
    position: relative;
    margin: 0;
}




#logo{
	position: relative;
	width: 200px;
	top: 28px;
	padding-left: 0px;
	
}



@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#141C44;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

	
