

.nome-escola{
    font-size: 40px;
    position: absolute;
    float: left;
    left: 400px;
    top: 250px;
 }
 .foto-escola{
     top:250px;
     position: absolute;
     left: 150px;
     border-radius: 15px ;
 }
 .classificacao{
     position: absolute;
     top: 308px;
     left: 400px;
     border: solid 1px;
     border-radius: 12px 12px 12px 12px;
     border-color: #ff7184;
     color: #ff7184;
     padding: 3px;
     padding-left:7px;
     padding-right: 7px;
 }
 .imagem-localizacao{
     position: absolute;
     top: 350px;
     left: 400px;
     width: 30px;
 }
 .local{
     position: absolute;
     top: 350px;
     left: 440px;
     font-size: 20px;
 }
 .privado{
     position: absolute;
     top: 400px;
     left: 400px;
     font-size: 20px;
 }
 .mensalidade{
     position: absolute;
     top: 430px;
     left: 400px;
     font-size:18px ;
     color:red;
 
 }
 
 .slider{
     display: block;
     position: relative;
     height: 350px;
     margin: auto;
     top: 120px;
     position: relative;
     left: 550px;
     
 }
 
 .slider li{
     list-style: none;
     position: absolute;
 }
 
 .slider img{
     margin: auto;

     vertical-align: top;
     border-radius: 15px;
     transition: 2s;
 }
 
 .slider input{
     display: none;
 }
 
 .slider label{
     background-color: black;
     bottom: 10px;
     cursor: pointer;
     display: block;
     height: 10px;
     position: absolute;
     width: 10px;
     z-index: 10;
 }
 .slider li:nth-child(1) label {
     left: 10px;
 
 }
 .slider li:nth-child(2) label {
     left: 40px;
 }
 .slider li:nth-child(3) label {
     left: 70px;
 }
 .slider img {
     opacity: 0;
     visibility: visible;
 }
 .slider li input:checked ~img {
     opacity: 1;
     visibility: visible;
     z-index: 10;
 }
 
 