*{
    padding: 0px;
    margin: 0px;
    }
    
    .search-fields{
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 0.1%; 
        padding: 20px;
        font-size: 16px; 
        margin-top: 2%;
        margin-bottom: 0;
        padding-bottom: 0.1%;

        
    }

    .A{
        font-size: 16px;
        padding:0.5%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #nome-escola-search{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid gray;
        
    }

    #cidade-search{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid gray;
    }

    #regiao-search{
        width: 6%
    }

    #search{
        border: none;
        background-color: inherit;
        color: #77b6ea;
        font-size: 16px;
        display: flex;
        margin-left: 36%;
        margin-top: 0;
        cursor: pointer;

    }
    #search::after{
        content: "\1F50D";
    }

    #search:hover{
        text-decoration: underline;
    }