body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 400px;
    display: block;
}

.btao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(121, 121, 121, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #676b85;
}


