*{
    padding: 0;
    margin: 0;
    color: inherit;       /* Remove a cor padrão e herda a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado padrão */

}

@media screen and (min-width:1280px ){

    .short-prof{
        margin: 2% 10% ;
        padding: 1% 5%;
        position: relative;
        display: flex; 
        border: 1px solid gray;
        border-radius: 15px;
        background-color: white;
        z-index: 1; 
    }
    
    .logo{
    
        position: relative;
        width: 180px;
        border-radius: 15px;
        box-sizing: border-box;
    }
    
    .info{
        flex: 1; /* Permite que a seção de informações ocupe o espaço restante */
        padding-left: 20px; /* Adiciona espaço à esquerda da imagem */
        font-family: "Poppins", sans-serif;
        color:#141c44;
        font-size: 16px;;
    }
    
    .nome-escola{
        font-size: 22px;
        padding: 5px;
    }
    .niveis{
        display: flex; /* Usar flexbox para organizar os elementos em linha */
        flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se necessário */
        gap: 10px; /* Adiciona espaço entre os itens */
    }
    
    .escolaridade{
        border: 1px solid #141c44;
        border-radius: 20px;
        display: inline-block;
        padding: 2px 7px;
        font-weight: 600;
        font-size: 14px;
        
    }
    .EM{
        background-color: #00b4b4;
    }
    .TEC{
        background-color: #15c724;
    }
    
    .EI{
        background-color: hsl(7, 100%, 73%);
    }
    
    .EFI{
        background-color: hsl(41, 100%, 72%);
    }
    
    .TEC{
        background-color: #15c724;
    }

    .CSO{
        background-color: mediumslateblue;
    }
    
    .inf{
        margin:2%
    }
    
    .ingresso{
        color: #ffbc3e;
        font-weight: 500;
        margin: 2%;
    }
    .ingresso:hover{
        text-decoration: underline;
    }
    .button {
    
        float:inline-end;
    
        border: 2px solid #a03616;
        color: #812205;
        background-color: #f56d44;
        border-radius: 5px;
        font-size: 19px;
        font-weight:540;
        margin-top: -5%;
        padding: 0.23rem;
      }
      .button:hover{
        border-color: #b33f1c;
        color: #9b3212;
        background-color: #f3815e;
      }
}

