<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos de Assinatura - Busca Escolar</title>
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <link rel="stylesheet" href="../css/assinatura.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>

<body>
        <%- include('../partials/navbar'); %>

    <section class="page-header">
        <h1>Escolha seu Melhor Plano</h1>
        <p>Encontre mais escolas na nossa plataforma de busca.</p>
    </section>

    <main>
        <section class="pricing-section">
            <section class="pricing-container">

                <article class="pricing-card blue">
                    <section class="caaard">
                        <h2>BÁSICO</h2>
                    </section>
                    <ul class="features" role="list">
                        <li class="check"><i class="fas fa-check"></i> Cadastro Completo da Escola</li>
                        <li class="check"><i class="fas fa-check"></i> Gerenciar avaliações</li>
                        <li class="check"><i class="fas fa-check"></i> Destaque por avaliações</li>
                        <!-- <li class="uncheck"><i class="fas fa-times"></i> Número maior de fotos no perfil</li> -->
                        <li class="uncheck"><i class="fas fa-times"></i> Melhor classificação em buscas</li>
                        <li class="uncheck"><i class="fas fa-times"></i> Destaque na home page!</li>
                    </ul>
                    <section class="price-area">
                        <span class="price-value">R$0,00</span><span class="price-unit">/mês</span>
                    </section>
                    <a href="#" class="button" aria-label="Assinar Plano Básico">ACESSAR</a>
                </article>

                <article class="pricing-card orange">
                    <section class="caaard">
                        <h2>PREMIUM</h2>
                    </section>
                    <ul class="features" role="list">
                        <li class="check"><i class="fas fa-check"></i> Cadastro Completo da Escola</li>
                        <li class="check"><i class="fas fa-check"></i> Gerenciar avaliações</li>
                        <li class="check"><i class="fas fa-check"></i> Destaque por avaliações</li>
                        <!-- <li class="check"><i class="fas fa-check"></i> Número maior de fotos no perfil</li> -->
                        <li class="check"><i class="fas fa-check"></i> Melhor classificação em buscas</li>
                        <li class="check"><i class="fas fa-check"></i>  Destaque na home page!</li>
                    </ul>
                    <section class="price-area">
                        <span class="price-value">R$20,62</span><span class="price-unit">/mês</span>
                    </section>
                    <a href="/pagamento" class="button" aria-label="Assinar Plano Premium">ACESSAR</a>
                </article>

            </section>
        </section>
    </main>
        <%- include('../partials/footer'); %>
    </body>
</html>