<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vizu.css">
    <title> Encontre Escolas - Cusos Extracurriculares </title>
</head>

<body>
    <%- include('../partials/navbar'); %>

    <%- include('../partials/search-bar'); %>
    <%- include('../partials/filtro-atualizado'); %>
    <!-- primeiro perfil -->
   <section class="short-prof" id="eded">
    <figure><img src="https://novatijucarj.com.br/wp-content/uploads/2023/07/logo_wizard_by_pearson_novatijuca.jpg" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> Wizard by Pearson </h1>
 
        <aside class="niveis">
            <h5 class="escolaridade CSO">Cursos</h5>
        </aside>
 
        <section class="inf">
        <p class="localidade "> Jardim Paulista, Barueri, São Paulo</p>
        <p class="instituicao ">Particular</p></section>
        <p class="ingresso"> Parcelas a partir de R$840,90  ‎</p>
 
 
        <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
    </section>
 </section>
    <!-- segundo perfil -->
    <section class="short-prof" id="eded">
     <figure><img src="https://japan-product.com/wp-content/uploads/2017/09/Kumon-logo-250x250.png" alt="logo da escola" class="logo"></figure>
     <section class="info">
         <h1 class="nome-escola"> Kumon </h1>
 
         <aside class="niveis">
            <h5 class="escolaridade CSO">Cursos</h5>
         </aside>
 
         <section class="inf">
         <p class="localidade "> R. José Félix de Oliveira - Cotia, SP</p>
         <p class="instituicao ">Particular</p></section>
         <p class="ingresso"> Mensalidade a partir de R$410,90  ‎</p>
 
 
         <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
     </section>
 </section>
 
    <!-- terceiro perfil -->
 
    <!-- quarto perfil -->
 
    <!-- quinto perfil -->
    <section class="short-prof" id="eded">
     <figure><img src="https://guiademairipora.com.br/wp-content/uploads/2018/09/cna-logo.jpg" alt="logo da escola" class="logo"></figure>
     <section class="info">
         <h1 class="nome-escola"> CNA Centro Barueri </h1>
 
         <aside class="niveis">
             <h5 class="escolaridade EI" > Ensino infantil</h5>
             <h5 class="escolaridade EFI">Ensino Fundamental I</h5>
             <h5 class="escolaridade EFII">Ensino Fundamental II</h5>
             <h5 class="escolaridade EM">Ensino Médio</h5>
         </aside>
 
         <section class="inf">
         <p class="localidade "> Rua Campo Sales, 1793 - Barueri, SP</p>
         <p class="instituicao ">Particular</p></section>
         <p class="ingresso"> Mensalidade a partir de R$570,90  ‎</p>
 
 
         <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
     </section>
 </section>

</body>
<%- include('../partials/footer'); %>
</html>