<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vizu.css">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <title> Encontre Escolas - Cursos Técnicos </title>
</head>

<body>
    <%- include('../partials/navbar'); %>

    <%- include('../partials/search-bar'); %>
    <%- include('../partials/filtro-atualizado'); %>
    <section class="short-prof" id="eded">
        <figure><img src="imagem/fieb.png" alt="logo da escola" class="logo"></figure>
        <section class="info">
            <h1 class="nome-escola"> FIEB - ITB Brasílio Flores de Azevedo </h1>

            <aside class="niveis">
                <h5 class="escolaridade EM" >   Ensino Médio</h5>
                <h5 class="escolaridade TEC" > Cursos Técnicos</h5>
                <h5 class="escolaridade CSO"> Cursos Extracurriculares</h5>
            </aside>

            <section class="inf">
            <p class="localidade "> Jardim Belval - Barueri, SP</p>
            <p class="instituicao ">FIEB</p></section>
            <p class="ingresso"> Vestibulinho 2025</p>

            <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
        </section>
    </section>


    <section class="short-prof" id="eded">
        <figure><img src="https://th.bing.com/th/id/OIP.WThksmhwOehXLIsYEz25KAAAAA?rs=1&pid=ImgDetMain" alt="logo da escola" class="logo"></figure>
        <section class="info">
            <h1 class="nome-escola"> ETEC - Antônio Furlan </h1>

            <aside class="niveis">
                <h5 class="escolaridade EM" >   Ensino Médio</h5>
                <h5 class="escolaridade TEC" > Cursos Técnicos</h5>
            </aside>

            <section class="inf">
            <p class="localidade "> Vila Nossa Sra. da Escada - Barueri, SP</p>
            <p class="instituicao ">SENAC</p></section>
            <p class="ingresso"> ‎</p>

            <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
        </section>
    </section>


    <section class="short-prof" id="eded">
        <figure><img src="https://th.bing.com/th/id/OIP.ijSzT8fimNjzvmkRvs4V5gHaFz?rs=1&pid=ImgDetMain" alt="logo da escola" class="logo"></figure>
        <section class="info">
            <h1 class="nome-escola"> SENAC Lapa Tito </h1>

            <aside class="niveis">
                <h5 class="escolaridade EM" >   Ensino Médio</h5>
                <h5 class="escolaridade TEC" > Cursos Técnicos</h5>
            </aside>

            <section class="inf">
            <p class="localidade "> Vila Romana - São Paulo, SP</p>
            <p class="instituicao ">FIEB</p></section>
            <p class="ingresso"> Vestibulinho 2025</p>

            <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
        </section>
    </section>

</body>
<%- include('../partials/footer'); %>
</html>
