<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/edu-infantil.css">
    <link rel="stylesheet" href="css/vizu.css">
    <link rel="icon" type="image/png" href="/imagem/favicon.png">
    <title> Encontre Escolas - Educação Infantil </title>
</head>

<body>
    <%- include('../partials/navbar'); %>

<!-- </section>
<divclass="Buscar">
<input type="text" id="txtBusca" placeholder="Cidade"/>
<img src="imagem/lupa.png" height="30px" width="30px" id= "btnBusca" alt="Buscar"/>
</section> -->
<!-- primeira escola -->
<%- include('../partials/search-bar'); %>
<%- include('../partials/filtro-atualizado'); %>


 <section class="short-prof" id="eded">
        <figure><img src="imagem/emef.png" alt="logo da escola" class="logo"></figure>
        <section class="info">
            <h1 class="nome-escola"> EMEI Takechi Takau </h1>

            <aside class="niveis">
                <h5 class="escolaridade EI" > Ensino infantil</h5>
            </aside>

            <section class="inf">
            <p class="localidade "> Vila Sao Silvestre - Barueri, SP</p>
            <p class="instituicao ">Pública</p></section>
            <p class="ingresso"> ‎</p>          <!--<p class="ingresso"> ‎</p>-->
           

            <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
        </section>
    </section>
 <!-- segundo perfil -->
    <section class="short-prof" id="eded">
        <figure><img src="imagem/adventista.png" alt="logo da escola" class="logo"></figure>
        <section class="info">
            <h1 class="nome-escola"> Colégio Adventista de Alphaville </h1>

            <aside class="niveis">
                <h5 class="escolaridade EI" > Ensino infantil</h5>
            </aside>

            <section class="inf">
            <p class="localidade "> Alphaville Empresarial - Barueri, SP</p>
            <p class="instituicao ">Particular</p></section>
            <p class="ingresso"> Mensalidade a partir de R$380,99</p>


            <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
        </section>
    </section>
    <!-- TERCEIRO PERFIL -->
    <section class="short-prof" id="eded">
        <figure><img src="imagem/emef.png" alt="logo da escola" class="logo"></figure>
        <section class="info">
            <h1 class="nome-escola"> Escola Municipal Maternal Tadataka Mário Ito </h1>

            <aside class="niveis">
                <h5 class="escolaridade EI" > Ensino infantil</h5>
            </aside>

            <section class="inf">
            <p class="localidade "> Av. Exército Brasileiro - Barueri, SP</p>
            <p class="instituicao ">Pública</p></section>
            <p class="ingresso"> ‎</p>


            <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
        </section>
    </section>
 <!-- quarto perfil -->
    <section class="short-prof" id="eded">
        <figure><img src="imagem/abaco.jpg" alt="logo da escola" class="logo"></figure>
        <section class="info">
            <h1 class="nome-escola"> Ábaco </h1>

            <aside class="niveis">
                <h5 class="escolaridade EI" > Ensino infantil</h5>
                <h5 class="escolaridade EFI">Ensino Fundamental I</h5>
                <h5 class="escolaridade EFII">Ensino Fundamental II</h5>
                <h5 class="escolaridade EM">Ensino Médio</h5>
            </aside>

            <section class="inf">
            <p class="localidade "> Avenida Doutor Arnaldo, 1793 - São Paulo, SP</p>
            <p class="instituicao ">Particular</p></section>
            <p class="ingresso"> Mensalidade a partir de R$340,90  ‎</p>


            <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
        </section>
    </section>
<!-- quinto perfil -->
    <section class="short-prof" id="eded">
        <figure><img src="imagem/sonhom.jfif" alt="logo da escola" class="logo"></figure>
        <section class="info">
            <h1 class="nome-escola"> Colégio Sonho Mágico </h1>

            <aside class="niveis">
                <h5 class="escolaridade EI" > Ensino infantil</h5>
            </aside>

            <section class="inf">
            <p class="localidade "> Jardim Iracema - Barueri, SP</p>
            <p class="instituicao ">Particular</p></section>
            <p class="ingresso"> Mensalidade a partir de R$199,99</p>


            <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
        </section>
    </section>

</body>
<%- include('../partials/footer'); %>
</html>