<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/edu-infantil.css">
    <title> Modelo App Node </title>
</head>

<body>
    <%- include('../partials/navbar'); %>

</section>
<divclass="Buscar">
<input type="text" id="txtBusca" placeholder="Cidade"/>
<img src="imagem/lupa.png" height="30px" width="30px" id= "btnBusca" alt="Buscar"/>
</section>
<!-- primeira escola -->
<section class="master">
<img src="imagem/cantinho.jpg" class="imgp">
<section class="nomeescolas"> 
    Cantinho do Céu
</section>
<section class="tipodeensino" >
    Ensino Médio Integrado
</section>
<section class="segundo">
    Curso Técnico
</section>
<section class="lugar">
    Jardim Belval - Barueri,SP  <br>
    FIEB
</section>
<section class="mensa">
    mensalidade 230,00
</section>
</section>
<section class="botao" ><button type="submit" style="background-color: #F56D44;  width: 150px;
height: 35px; font-size: 18px;  border-radius: 7px 7px 7px 7px;">
VER PERFIL
</section>


<!-- Segundo perfil -->
<section class="master2">
<img src="imagem/canarinho.jpg" class="imgs">
<section class="nomeseg"> 
Escola Canarinho
</section>
<section class="tiposeg" >
Ensino Infantil
</section>
<section class="lugarseg">
Piratininga - Osasco,SP  
</section>
<section class="mensalidade">
Mensalidade a partir de R$215,35
</section>

<section class="botaoseg" ><button type="submit" style="background-color: #F56D44;  width: 150px;
height: 35px; font-size: 18px;  border-radius: 7px 7px 7px 7px;">
VER PERFIL
</section>
</section>
<!-- Terceiro perfil -->
<section class="master3">
<img src="imagem/mundoencantado.jpg" class="imgt">
<section class="nometer"> 
Escola Mundo Encantado 
</section>
<section class="tipoter" >
Ensino Infantil
</section>
<section class="lugarter">
Alameda Antuérpia,323 - Recanto Phyrinea   <br>
Ensino Público
</section>
<section class="botaoseg" ><button type="submit" style="background-color: #F56D44;  width: 150px;
height: 35px; font-size: 18px;  border-radius: 7px 7px 7px 7px;">
VER PERFIL
</section>
</section>
<!-- quarto perfil -->
<section class="master4">
<img src="imagem/kidsplace.png" class="imgq">
<section class="nomequar"> 
Kids Place Educação Infantil
</section>
<section class="tipoquar" >
Ensino Infantil
</section>
<section class="lugarquar">
Alameda Amazonas - Alphaville Barueri,SP   <br>
Escola Pública Municipal
</section>
<section class="botaoquar" ><button type="submit" style="background-color: #F56D44;  width: 150px;
height: 35px; font-size: 18px;  border-radius: 7px 7px 7px 7px;">
VER PERFIL
</section>
</section>
<br><br><br><br><br><br><br><br><br><br><br>
<br>
</b>

</body>
<%- include('../partials/footer'); %>
</html>