<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="css/encontre-escola.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Modelo App Node </title>
</head>

<body>
    <%- include('../partials/navbar'); %>
    
</section>
<div class="Buscar">
<input type="text" id="txtBusca" placeholder="Cidade"/>
<img src="imagem/lupa.png" height="30px" width="30px" id= "btnBusca" alt="Buscar"/>
</div>
<!-- primeira escola -->
<div class="master">
<img src="imagem/fieb.png" class="imgp">
<div class="nomeescolas"> 
    ITB Brasílio Flores de Azevedo
</div>
<div class="tipodeensino" >
    Ensino Médio Integrado
</div>
<div class="segundo">
    Curso Técnico
</div>
<div class="lugar">
    Jardim Belval - Barueri,SP  <br>
    FIEB
</div>
<div class="vest">
    Vestibulinho 2024
</div>
</div>
<div class="botao" ><button type="submit" style="background-color: #F56D44;  width: 150px;
height: 35px; font-size: 18px;  border-radius: 7px 7px 7px 7px;">
VER PERFIL
</div>


<!-- Segundo perfil -->
<div class="master2">
<img src="imagem/canarinho.jpg" class="imgs">
<div class="nomeseg"> 
Escola Canarinho
</div>
<div class="tiposeg" >
Ensino Infantil
</div>
<div class="lugarseg">
Piratininga - Osasco,SP  
</div>
<div class="mensalidade">
Mensalidade a partir de R$215,35
</div>

<div class="botaoseg" ><button type="submit" style="background-color: #F56D44;  width: 150px;
height: 35px; font-size: 18px;  border-radius: 7px 7px 7px 7px;">
VER PERFIL
</div>
</div>
<!-- Terceiro perfil -->
<div class="master3">
<img src="imagem/emef.png" class="imgt">
<div class="nometer"> 
Emef Onofra da Silva
</div>
<div class="tipoter" >
Ensino Médio
</div>
<div class="lugarter">
Parque Viana - Barueri,SP   <br>
Ensino Público
</div>
<div class="botaoseg" ><button type="submit" style="background-color: #F56D44;  width: 150px;
height: 35px; font-size: 18px;  border-radius: 7px 7px 7px 7px;">
VER PERFIL
</div>
</div>
<!-- quarto perfil -->
<div class="master4">
<img src="imagem/cavazza.jpeg" class="imgq">
<div class="nomequar"> 
Emef Armando Cavazza
</div>
<div class="tipoquar" >
Ensino fundamental
</div>
<div class="lugarquar">
Engenho Novo - Barueri,SP   <br>
Escola Pública Municipal
</div>
<div class="botaoquar" ><button type="submit" style="background-color: #F56D44;  width: 150px;
height: 35px; font-size: 18px;  border-radius: 7px 7px 7px 7px;">
VER PERFIL
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<br>
</b>

</body>
<%- include('../partials/footer'); %>
</html>