<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/encontre-escola.css">
    <link rel="stylesheet" href="css/vizu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Modelo App Node </title>
</head>

<body>
    <%- include('../partials/navbar'); %>
    
<!-- </section>
<section class="Buscar">
<input type="text" id="txtBusca" placeholder="Cidade"/>
<img src="imagem/lupa.png" height="30px" width="30px" id= "btnBusca" alt="Buscar"/>
</section> -->

<!--Primeira escola-->
<section class="short-prof" id="eded">
    <figure><img src="imagem/fieb.png" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> FIEB - ITB Brasílio Flores de Azevedo </h1>

        <aside class="niveis">
            <h5 class="escolaridade EM" >   Ensino Médio</h5>
            <h5 class="escolaridade TEC" > Cursos Técnicos</h5>
            <h5 class="escolaridade CSO"> Cursos Extracurriculares</h5>
        </aside>

        <section class="inf">
        <p class="localidade "> Jardim Belval - Barueri, SP</p>
        <p class="instituicao ">FIEB</p></section>
        <p class="ingresso"> Vestibulinho 2024</p>

        <button type="submit" class="button"> <a href="">VER PERFIL</a></button>
    </section>
</section>

<!-- Segunda Escola -->
<section class="short-prof" id="eded">
    <figure><img src="imagem/fieb.png" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> FIEB - ITB Brasílio Flores de Azevedo </h1>

        <aside class="niveis">
            <h5 class="escolaridade EM" >   Ensino Médio</h5>
            <h5 class="escolaridade TEC" > Cursos Técnicos</h5>
            <h5 class="escolaridade CSO"> Cursos Extracurriculares</h5>
        </aside>

        <section class="inf">
        <p class="localidade "> Jardim Belval - Barueri, SP</p>
        <p class="instituicao ">FIEB</p></section>
        <p class="ingresso"> Vestibulinho 2024</p>

        <button type="submit" class="button"> <a href="">VER PERFIL</a></button>
    </section>
</section>

<!--Terceira Escola-->
<section class="short-prof" id="eded">
    <figure><img src="imagem/fieb.png" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> FIEB - ITB Brasílio Flores de Azevedo </h1>

        <aside class="niveis">
            <h5 class="escolaridade EM" >   Ensino Médio</h5>
            <h5 class="escolaridade TEC" > Cursos Técnicos</h5>
            <h5 class="escolaridade CSO"> Cursos Extracurriculares</h5>
        </aside>

        <section class="inf">
        <p class="localidade "> Jardim Belval - Barueri, SP</p>
        <p class="instituicao ">FIEB</p></section>
        <p class="ingresso"> Vestibulinho 2024</p>

        <button type="submit" class="button"> <a href="">VER PERFIL</a></button>
    </section>
</section>

<!-- Quarta Escola-->
<section class="short-prof" id="eded">
    <figure><img src="imagem/fieb.png" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> FIEB - ITB Brasílio Flores de Azevedo </h1>

        <aside class="niveis">
            <h5 class="escolaridade EM" >   Ensino Médio</h5>
            <h5 class="escolaridade TEC" > Cursos Técnicos</h5>
            <h5 class="escolaridade CSO"> Cursos Extracurriculares</h5>
        </aside>

        <section class="inf">
        <p class="localidade "> Jardim Belval - Barueri, SP</p>
        <p class="instituicao ">FIEB</p></section>
        <p class="ingresso"> Vestibulinho 2024</p>

        <button type="submit" class="button"> <a href="">VER PERFIL</a></button>
    </section>
</section>




<br><br><br><br><br><br><br><br><br><br><br>
<br>
</b>

</body>
<%- include('../partials/footer'); %>
</html>