<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vizu.css">
    <title> Encontre Escolas - Ensino Fundamental II </title>
</head>

<body>
    <%- include('../partials/navbar'); %>
    <%- include('../partials/search-bar'); %>
    <%- include('../partials/filtro-atualizado'); %>
 <!-- primeiro perfil --><section class="short-prof" id="eded">
    <figure><img src="imagem/mackenzie.png" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> Mackenzie </h1>

        <aside class="niveis">
            <h5 class="escolaridade EFI">Ensino Fundamental I</h5>
            <h5 class="escolaridade EFII">Ensino Fundamental II</h5>
            <h5 class="escolaridade EM">Ensino Médio</h5>
        </aside>

        <section class="inf">
        <p class="localidade "> Rua Itambé, Higienópolis, São Paulo</p>
        <p class="instituicao ">Particular</p></section>
        <p class="ingresso"> Mensalidade a partir de R$1840,90  ‎</p>


        <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
    </section>
</section>
 

 <!-- segundo perfil -->
    <section class="short-prof" id="eded">
    <figure><img src="imagem/pitangueiras.webp" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> Pitangueiras </h1>

        <aside class="niveis">
            <h5 class="escolaridade EI" > Ensino infantil</h5>
            <h5 class="escolaridade EFI">Ensino Fundamental I</h5>
            <h5 class="escolaridade EFII">Ensino Fundamental II</h5>
            <h5 class="escolaridade EM">Ensino Médio</h5>
            <h5 class="escolaridade TEC">Cursos Técnicos</h5>
            <h5 class="escolaridade CSO">Cursos Extracurriculares</h5>
        </aside>

        <section class="inf">
        <p class="localidade "> R. José Félix de Oliveira - Cotia, SP</p>
        <p class="instituicao ">Particular</p></section>
        <p class="ingresso"> Mensalidade a partir de R$840,90  ‎</p>


        <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
    </section>
</section>

 <!-- terceiro perfil -->
    <section class="short-prof" id="eded">
    <figure><img src="imagem/abaco.jpg" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> Ábaco </h1>

        <aside class="niveis">
            <h5 class="escolaridade EI" > Ensino infantil</h5>
            <h5 class="escolaridade EFI">Ensino Fundamental I</h5>
            <h5 class="escolaridade EFII">Ensino Fundamental II</h5>
            <h5 class="escolaridade EM">Ensino Médio</h5>
        </aside>

        <section class="inf">
        <p class="localidade "> Avenida Doutor Arnaldo, 1793 - São Paulo, SP</p>
        <p class="instituicao ">Particular</p></section>
        <p class="ingresso"> Mensalidade a partir de R$570,90  ‎</p>


        <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
    </section>
</section>
 <!-- quarto perfil -->
    <section class="short-prof" id="eded">
    <figure><img src="imagem/fieb.png" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> FIEB Unidade Alphaville - ITB Professora Maria Theodora Pedreira de Freitas </h1>

        <aside class="niveis">
            <h5 class="escolaridade EFI">Ensino Fundamental I</h5>
            <h5 class="escolaridade EFII">Ensino Fundamental II</h5>
            <h5 class="escolaridade EM">Ensino Médio</h5>
        </aside>

        <section class="inf">
        <p class="localidade "> Av. Andrômeda, 500 - Alphaville Empresarial, Barueri - SP</p>
        <p class="instituicao ">pública</p></section>
        <p class="ingresso"> ‎</p>


        <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
    </section>
</section>
 <!-- quinto perfil -->
    <section class="short-prof" id="eded">
    <figure><img src="imagem/emef.png" alt="logo da escola" class="logo"></figure>
    <section class="info">
        <h1 class="nome-escola"> EMEF Armando Cavazza </h1>

        <aside class="niveis">
            <h5 class="escolaridade EFI" >   Ensino Fundamental I</h5>
            <h5 class="escolaridade EFII" > Cursos Fundamental II</h5>
           
        </aside>

        <section class="inf">
        <p class="localidade "> Engenho Novo - Barueri, SP</p>
        <p class="instituicao ">Pública</p></section>
        <p class="ingresso"> ‎</p>

        <button type="submit" class="buttao"> <a href="">VER PERFIL</a></button>
    </section>
</section>

</body>
<%- include('../partials/footer'); %>
</html>
