<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Modelo App Node </title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/slider.css">
</head>

<style>    
    body {
    margin: 0;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 25%;
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 400px;
    display: block;
}

.B {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(121, 121, 121, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.indicators {
    position: absolute;
    bottom: 0px;
    top:-02px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #676b85;
}


</style>

<body>

    <%- include('../partials/navbar'); %> 


            
        <main>
            <section class="imagem-texto">
                <img id="imagem" src="imagem/imagemcapa.png">
                <label id="texto">Bem vindo ao <br> Escolas Fáceis!</label>
                <label id="paragrafo">  ‎ ‎ ‎ ‎ ‎ Somos um portal de<br> pesquisa sobre instituições de <br> ensino.
                <br> ‎ ‎ ‎ ‎ ‎ Otimizamos sua experiência <br> ao procurar escolas!</label>
            </section>
        </main>
        <section class="imagem-caixa">

            <input type="text" placeholder="O que você está procurando?" style="color: white;" class="caixa1"  >
            <select id="caixa2" >
                <option value="Estado">Estado</option>
                <option value="infantil">AC</option>
                <option value="fundamental">AL</option>
                <option value="medio">AP</option>
                <option value="tecnico">AM</option>
                <option value="cursos">BA</option>
                <option value="cursos">CE</option>
                <option value="cursos">DF</option>
                <option value="cursos">ES</option>
                <option value="cursos">GO</option>
                <option value="cursos">MA</option>
                <option value="cursos">MT</option>
                <option value="cursos">MS</option>
                <option value="cursos">MG</option>
                <option value="cursos">PA</option>
                <option value="cursos">PB</option>
                <option value="cursos">PR</option>
                <option value="cursos">PE</option>
                <option value="cursos">PI</option>
                <option value="cursos">RJ</option>
                <option value="cursos">RN</option>
                <option value="cursos">RS</option>
                <option value="cursos">RO</option>
                <option value="cursos">RR</option>
                <option value="cursos">SC</option>
                <option value="cursos">SP</option>
                <option value="cursos">SE</option>
                <option value="cursos">TO</option>
            </select>
            <input type="text" placeholder="Cidade" class="caixa3">
        </section>
        <section><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></section>
        <section class="slider">
            <ul class="slides">
                <li class="slide"><img src="banner-cadastro.png" alt="slide1 - Imagem teoricamente aqui"></li>
                <li class="slide"><img src="banner_de_publicidade.png" alt="slide2 - Imagem teoricamente aqui"></li>
                <li class="slide"><img src="banner_de_publicidade1.png" alt="slide3 - Imagem teoricamente aqui"></li>
            </ul>
            <button class="prev B">❮</button>
            <button class="next B">❯</button>
            <div class="indicators">
                <span class="indicator"></span>
                <span class="indicator"></span>
                <span class="indicator"></span>
            </div>
        </section>
        
        <section id="info">
       <section class="aqui">Encontre aqui</section>
       <ul class="aqui2">
        <li> Ensino Infantil </li>
        <li>Ensino Fundamental</li>
        <li>Ensino Médio</li>
        <li>Cursos Técnicos</li>
        <li>Cursos Extracurriculares</li>
       </ul>
       <img id="imgpequena" src="imagem/segunda.png"></section>

       
    <%- include('../partials/footer'); %> 
</body>

<script >
    const slides = document.querySelector('.slides');
    const slideCount = document.querySelectorAll('.slide').length;
    const prevBtn = document.querySelector('.prev');
    const nextBtn = document.querySelector('.next');
    const indicators = document.querySelectorAll('.indicator');
    
    let currentIndex = 0;
    const intervalTime = 3000; // Tempo em milissegundos (3 segundos)
    
    function updateCarousel() {
        slides.style.transform = `translateX(-${currentIndex * 100}%)`;
        indicators.forEach((indicator, index) => {
            indicator.classList.toggle('active', index === currentIndex);
        });
    }
    
    function moveToNextSlide() {
        currentIndex = (currentIndex + 1) % slideCount;
        updateCarousel();
    }
    
    // Configurar a navegação automática
    let autoPlay = setInterval(moveToNextSlide, intervalTime);
    
    nextBtn.addEventListener('click', () => {
        clearInterval(autoPlay); // Parar autoplay ao clicar
        moveToNextSlide();
        autoPlay = setInterval(moveToNextSlide, intervalTime); // Reiniciar autoplay
    });
    
    prevBtn.addEventListener('click', () => {
        clearInterval(autoPlay); // Parar autoplay ao clicar
        currentIndex = (currentIndex - 1 + slideCount) % slideCount;
        updateCarousel();
        autoPlay = setInterval(moveToNextSlide, intervalTime); // Reiniciar autoplay
    });
    
    indicators.forEach((indicator, index) => {
        indicator.addEventListener('click', () => {
            clearInterval(autoPlay); // Parar autoplay ao clicar
            currentIndex = index;
            updateCarousel();
            autoPlay = setInterval(moveToNextSlide, intervalTime); // Reiniciar autoplay
        });
    });
    
    updateCarousel();
    
    
    </script>
       


</html>
