<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicio.css">
   </head>
   <body>
        <%- include('../partials/navbar'); %>

    <!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
    <div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/adm" class = "navbar-brand"><span class="material-symbols-outlined">
                    home
                    </span></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/adm/adm-cliente">Clientes</a></li>
                    <li><a>Quartos</a></li>
                    <li><a>Reservas</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <h2>Detalhes do cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            Teste
        </dd>

        <dt>
            CEP
        </dt>

        <dd>
            01234-555
        </dd>

        <dt>
            Imagem de Perfil
        </dt>

        <dd>
            <img id="img-preview" src="../imagem/img_login.png" style="max-width:200px; max-height:200px;" />
        </dd>

        <dt>
            Nome de Usuário  
        </dt>

        <dd>
            teste123
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            teste@gmail.com
        </dd>

        <dt>
            Tipo Usuário
        </dt>

        <dd>
            Comum
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            Ativo
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-success btn-lg" href="/adm/adm-cliente-edit" role="button">Editar</a>
    <a class="btn btn-primary " href="/adm/adm-cliente" role="button">voltar</a>
</p>

        <hr />
        <footer>
            <p>&copy;2023 - Hotel IceTown</p>
        </footer>
    </div>

        <%- include('../partials/footer'); %>   
        </body>
</html>