    <!DOCTYPE html>
    <html lang="pt-br">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Encontre Escolas - Home </title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/index-desk1.css">
        <link rel="stylesheet" href="css/index-mob.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/slider.css">
    </head>

    <body>

        <%- include('../partials/navbar'); %> 


                
            <main>
                <section class="imagem-texto">
                    <img id="imagem" src="imagem/imagemcapa.png">
                    <label id="texto">Bem vindo ao <br> Escolas FГЎceis!</label>
                    <label id="paragrafo">  вЂЋ вЂЋ вЂЋ вЂЋ вЂЋ Somos um portal de<br> pesquisa sobre instituiГ§Гµes de <br> ensino.
                    <br> вЂЋ вЂЋ вЂЋ вЂЋ вЂЋ Otimizamos sua experiГЄncia <br> ao procurar escolas!</label>
                </section>
            </main>
            <section class="imagem-caixa">

                <input type="text" placeholder="O que vocГЄ estГЎ procurando?" style="color: white;" class="caixa1"  >
                <select id="caixa2" >
                    <option value="Estado">Estado</option>
                    <option value="infantil">AC</option>
                    <option value="fundamental">AL</option>
                    <option value="medio">AP</option>
                    <option value="tecnico">AM</option>
                    <option value="cursos">BA</option>
                    <option value="cursos">CE</option>
                    <option value="cursos">DF</option>
                    <option value="cursos">ES</option>
                    <option value="cursos">GO</option>
                    <option value="cursos">MA</option>
                    <option value="cursos">MT</option>
                    <option value="cursos">MS</option>
                    <option value="cursos">MG</option>
                    <option value="cursos">PA</option>
                    <option value="cursos">PB</option>
                    <option value="cursos">PR</option>
                    <option value="cursos">PE</option>
                    <option value="cursos">PI</option>
                    <option value="cursos">RJ</option>
                    <option value="cursos">RN</option>
                    <option value="cursos">RS</option>
                    <option value="cursos">RO</option>
                    <option value="cursos">RR</option>
                    <option value="cursos">SC</option>
                    <option value="cursos">SP</option>
                    <option value="cursos">SE</option>
                    <option value="cursos">TO</option>
                </select>
                <input type="text" placeholder="Cidade" class="caixa3">
            </section>

            <section class="slider">
                <ul class="slides">
                    <li class="slide"><img src="imagem/banner-cadastro.png" id=""alt="slide1"></li>
                    <li class="slide"><img src="imagem/banner_de_publicidade.png" alt="slide2"></li>
                    <li class="slide"><img src="imagem/banner_de_publicidade1.png" alt="slide3"></li>
                </ul>
                <button class="prev b">вќ®</button>
                <button class="next b">вќЇ</button>
                <div class="indicators">
                    <span class="indicator"></span>
                    <span class="indicator"></span>
                    <span class="indicator"></span>
                </div>
            </section>

            
            <section id="info">
        <section class="aqui aq">Encontre aqui</section>
        <ul class="aqui2 aq">
            <li> Ensino Infantil </li>
            <li>Ensino Fundamental</li>
            <li>Ensino MГ©dio</li>
            <li>Cursos TГ©cnicos</li>
            <li>Cursos Extracurriculares</li>
        </ul>
        <img id="imgpequena" src="imagem/segunda.png"></section>

        </body>
        <%- include('../partials/footer'); %> 
        
            <script src="js/slider-home.js"></script>


    </html>
