<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicio.css">
   </head>
   <body>
        <section id="container">
            <img src="imagem/imagemcapa.png" id="imagem-principal" alt="imagem-principal">
            <label id="bem-vindo">Bem Vindo ao <br> Escolas Fáceis</label>
            <label id="texto">  ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ Somos um portal de <br>pesquisa  sobre instituições de<br> ensino.<br>
                ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ Otimizamos sua <br> experiência ao procurar por <br> escolas!
            </label>
        </section>
        <section>
            <h1 id="encontre-aqui">Encontre aqui</h1>
            <ul id="lista">
                <li>Ensino Infantli</li>
                <li>Ensino Fundamental</li>
                <li>Ensino Médio</li>
                <li>Cursos Técnicos</li>
                <li>Cursos Extracurriculares</li>
            </ul> \ADKJFHASLDFUHIAEBVYATDSGVHBNJMK,L.Ç~[´PELOJJJJJJJJJ]EDFEWFEWFWEFWE
            <img src="imagem/segunda.png" id="secundaria" alt="imagem complementar">
        </section>
        </body>
</html>


    
